@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
body,
html {
  background-color: #eaeaea;
}

.s_wrapper {
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 26.5625em) {
  .s_wrapper {
    width: 1240px;
  }
}
.s_wrapper .s_page-header {
  text-align: center;
}
.s_wrapper .s_page-header .s_title {
  font-family: "Roboto Bold";
  font-size: 36px;
  line-height: 1;
  color: #333333;
  margin-top: 54px;
}
@media (min-width: 26.5625em) {
  .s_wrapper .s_page-header .s_title {
    line-height: 0.667;
  }
}
.s_wrapper .s_page-header .s_description {
  font-size: 14px;
  font-family: "Roboto Regular";
  color: #333333;
  line-height: 1.714;
  max-width: 730px;
  margin: 0 auto;
  padding: 0px 10px;
}
.s_wrapper .s_grid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0px;
}
@media (min-width: 26.5625em) {
  .s_wrapper .s_grid-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.s_wrapper .s_grid-container .s_item {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  min-height: auto;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  text-align: center;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}
@media (min-width: 23.4375em) {
  .s_wrapper .s_grid-container .s_item {
    width: 125px;
    padding: 20px;
    margin-bottom: 15px;
  }
}
@media (min-width: 26.5625em) {
  .s_wrapper .s_grid-container .s_item {
    width: 255px;
    padding: 20px;
    min-height: auto;
    margin-bottom: 20px;
  }
}
.s_wrapper .s_grid-container .s_item .s_item-image {
  width: 100%;
}
.s_wrapper .s_grid-container .s_item .s_item-title {
  font-size: 14px;
  font-family: "Roboto Regular";
  color: #383838;
  line-height: 1.143;
  text-align: left;
  z-index: 62;
}
.s_wrapper .s_grid-container .s_item .s_box-price {
  margin: 40px 0px 10px 0px;
  text-align: left;
}
.s_wrapper .s_grid-container .s_item .s_box-price .old-price {
  display: block;
  font-size: 12px;
  font-family: "Roboto Regular";
  color: #989898;
  line-height: 1.167;
}
.s_wrapper .s_grid-container .s_item .s_box-price .normal-price {
  font-size: 24px;
  font-family: "Roboto Bold";
  color: #000;
}
.s_wrapper .s_grid-container .s_item .s_more {
  display: block;
  padding: 5px 16px;
  min-width: 80px;
  border-radius: 30px;
  background-color: #7abc49;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-family: "Roboto Regular";
  overflow: hidden;
  position: relative;
}
@media (min-width: 26.5625em) {
  .s_wrapper .s_grid-container .s_item .s_more {
    padding: 10px 20px;
    width: auto;
  }
}
.s_wrapper .s_grid-container .s_item .s_more:after {
  content: "";
  width: 20px;
  height: 40px;
  background-color: #fff;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: -20%;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}
.s_wrapper .s_grid-container .s_item .s_more:hover:after {
  left: 120%;
}
@media (min-width: 26.5625em) {
  .s_wrapper .s_grid-container .s_item:hover {
    -webkit-box-shadow: 6px 6px 11px -2px rgba(0, 0, 0, 0.21);
            box-shadow: 6px 6px 11px -2px rgba(0, 0, 0, 0.21);
  }
}